<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Here Is Your Story!</h1>
    <p>
      There was a person named @Model.GetName(). He had a @Model.GetNoun(). His @Model.GetNoun() started to @Model.GetVerb().
    </p>
  </body>
</html>
